@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.header img {
  max-width: 150px;
  margin-right: 40px;
}

.header h1 {
  font-size: 48px;
  margin: 0;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}

/* Barre de recherche */
.search-bar {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.search-bar input {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f2f2f2;
}


.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.pokemon-card {
  flex: 1 0 23%;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card.highlight {
  border: 2px solid red;
}

.pokemon-card img {
  max-width: 150px;
  height: auto;
}

.pokemon-card p {
  margin: 10px 0;
  font-size: 16px;
}

.pokemon-card strong {
  font-size: 18px;
  color: #555;
}

.button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0056b3;
}
